@import "tailwindcss";

@layer components {
  .btn-primary {
    border-radius: 1px;
    background-color: var(--color-blue-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-700);
      }
    }
    /* Remove hover effect when disabled */
    &:disabled {
      background-color: var(
        --color-gray-400
      ) !important; /* Force background change */
      color: var(--color-gray-700) !important;
      cursor: not-allowed;
      box-shadow: none !important;
      pointer-events: none; /* Prevent interaction */
    }

    &:disabled:hover {
      background-color: var(
        --color-gray-400
      ) !important; /* Prevent hover effect */
    }
  }
  .btn {
    border-radius: 1px;
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    background-color: var(--color-gray-200);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-900);
    box-shadow: var(--shadow-sm);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      @media (hover: hover) {
        background-color: var(--color-gray-300);
      }
    }
  }
  .col-card-text-2 {
    width: 150px;
  }
  .col-card-text-1 {
    width: 230px;
  }

  .col-card-lay-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .col-card-lay-1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .dialog-size-2 {
    width: 1000px;
  }
  .dialog-size-1 {
    width: 700px;
  }
  .icon-size-2 {
    width: 80px;
    height: 80px;
    font-size: 80px;
  }
  .icon-size-1 {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
}
